@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  line-height: 1.5;
  padding: 4em 0;
  color: #566b78;
  background: #EFEFEF;
}

h1,
h2,
strong {
  color: #333;
}

.text-center {
	text-align: center;
}

a {
	color:#327fc7;
	font-weight: 100;
}

.button {
	position: relative;
	top: 40px!important;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

.card-profile {
	background-color: #D8D8D8;
	padding: 1em 0;
	color: #EFEFEF;
}